body,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
}

body {
    background-color: #0b0e14;
    display: grid;
    place-items: center;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    max-width: 800px;
}

.cube {
    --size: 200px;
    transform-style: preserve-3d;
    transform: rotateX(0.5turn);
    display: inline-block;
    width: var(--size);
    height: var(--size);
    animation: 6s  rotate linear infinite;
}

@keyframes rotate {
    from {
        transform: rotateZ(-1turn) rotateX(-1turn) rotateY(-1turn);
    }
}

.cube > div {
    --tz: calc(var(--size) / 2);
    --rx: -0deg;
    --ry: 0deg;
    --color: transparent;
    background-color: var(--color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #fff;
    transform: translateZ(var(--tz)) rotateX(var(--rx)) rotateY(var(--ry));
    backface-visibility: none;
    opacity: 1;
}

.cube > div:nth-child(1) {
    transform: translate3d(0px, 0px, 0px) rotateX(0deg);
}

.cube > div:nth-child(2) {
    transform: translate3d(0px, -100px, 100px) rotateX(90deg);
}

.cube > div:nth-child(3) {
    --tz: var(--size);
}

.cube > div:nth-child(4) {
    transform: translate3d(0px, 100px, 100px) rotateX(90deg);
}

.cube > div:nth-child(5) {
    transform: translate3d(100px, 0px, 100px) rotateY(90deg);
}

.cube > div:nth-child(6) {
    transform: translate3d(-100px, 0px, 100px) rotateY(90deg);
}

